@font-face{
    font-family: "hey";
    src:url("font/dos/Perfect%20DOS%20VGA%20437.ttf");
}

body{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'hey';
    overflow: hidden;
    /*height: 1800px;*/
}

.hide{
    display: none;
}

.typingBoard{
    color: white;
    /*width: 240px;*/
    width: 60%;
    /*width: 95%;*/
    height: auto;
    background: #1a1818;
    background: rgba(0,0,0,0.8);
    /*background: rgba(249, 244, 231, 0.8);*/
    /*opacity: 0.7;*/
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
    top: 300px;
    border: 5px solid white;
    border-radius: 10px;
    padding: 0 20px;
}

.typingBoard ul{
    list-style: none;
}
.typingBoard p , .typingBoard li{
    /*color: white;*/
    /*color: black;*/
    /*font-weight:bold;*/
    font-size: 1.5em;
}
.bug{
    position: absolute;
    left: -180px;
    top: -80px;
}
.odai-ttl{
    /*font-size:1.4em;*/
    margin-top: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.odai-text{
    /*font-size:1.3em;*/
    margin-top: 5px;
    word-break: break-all;
}

.odai-text-typed{
    /*color:  #643d3d;*/
    color:  #f44336;
    word-break: break-all;
}
